body {
    font-family: Arial, sans-serif;
    margin: 20 px;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 500px;
    text-align: center;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-left: 100px;
}

.container p {
    text-align: left; /* Alinea el texto a la izquierda */
    /* Otros estilos para el mensaje */
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

label {
    display: block;
    text-align: center;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

input {
    align: left;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    padding: 10px 20px;
    text-align: center;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}